/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/

# rspec failure tracking
.rspec_status

sample/config/s3.yml
sample/config/site.yml

public/config/s3.yml
public/config/site.yml

template/config.yml
template/site.yml


railsjazz.com/

*.gem
